.toggle-button {
  position: fixed;
  top: 28px;
  left: 20px;
  z-index: 9999;
}

.custom-button {
  color: white; 
  background-color: grey; 
  border-radius: 50%; 
  padding: 8px; 
  transition: background-color 0.3s ease;
  opacity:40%;
  margin-top: -0.4%;
}

.custom-button:hover {
  background-color: #d3d3d3;
}
