mat-form-field {
    width: 95%;
    margin-bottom: 5px;
    @media screen and (min-width: 900px) {
        margin-left: 2%;
        width: 95%;
    }
}
  
button[type="submit"] {
    display: block;
    margin: 10px auto;
}

form {
    margin-top: 1%;
    margin-left: 7px;
    @media screen and (min-width: 900px) {
        margin-top: 1%;
    }
}

.selectEstacion {
    padding-top: 2%;
}