:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    mat-form-field {
      width: 100%;
      margin-bottom: 16px;
    }
  
    button {
      align-self: center;
      margin-top: 20px;
    }
  }
  